
/* Very small devices (smartphones, <768px) */
@media (max-width: 768px) {
    body {
        padding-top: 136px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        padding-top: 71px;
    }
}


/*
body {
    padding-top: 71px;
    position: relative;
}*/

a.product_info {
    text-decoration: none;
    color: inherit;
}

#product_type_chooser a.active {
    background-color: #337ab7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: white;
}