.float-right {
	float: right;
}

.navbar-brand {
	height: 100%;
}

.navbar-right.nav.navbar-default.navbar-nav > li > a {
	line-height: 27px;
}

.nav.steps > li {
	margin-left: 30px;
}

.nav.steps > li > i {
	margin-right: 10px;
}

@media (max-width: 768px) {
	#home_logo img {
		max-width: 180px;
	}
	.homepageback {
		height: 420px !important;
		margin-top: -50px;
	}
	.homepage .panel {
		margin-top: 50px !important;
		margin-bottom: 75px !important;
	}
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.footer {
	height: 60px;
	background-color: #f5f5f5;
}

.homepageback {
	width: 100%;
	position: absolute;
	top: 125px;
	left: 0px;
	height: 400px;
	z-index: -9999;
}

.homepage .panel {
	margin: 125px 0;
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
	text-align: center;
	font-size: 24px;
}

.btn-group-lg>.btn,
.btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 2px;
}

.form-control {
	border-radius: 2px;
}

@media (min-width: 768px) {
	.homepage .form-inline input {
		min-width: 300px;
	}
	.navbar>.container .navbar-brand,
	.navbar>.container-fluid .navbar-brand {
		margin-left: -15px;
		top: 10px;
		position: relative;
	}
}

.homepage .form-inline label {
	min-width: 200px;
}

@media (min-width: 768px) {
	.homepage .form-inline div.form-group {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

@media (min-width: 992px) {
	.homepage .form-inline div.form-group button.searchbtn {
		margin-top: 13px;
	}
}

#selectable .ui-selecting .title {
	background: rgb(0, 107, 73) !important;
	background: rgba(0, 107, 73, .8) !important;
}

#selectable .ui-selected .selected_check {
	visibility: visible !important;
}

#selectable .ui-selected .title {
	background: rgb(29, 157, 116) !important;
	background: rgba(29, 157, 116, .7) !important;
}

#recipes div.recipe:hover {
	border: 2px solid #1D9D74 !important;
}

#recipes div.recipe:hover > div.title {
	background: rgb(29, 157, 116) !important;
	background: rgba(29, 157, 116, .7) !important;
}

#recipes div.recipe:hover > div.editbutton {
	background: rgb(29, 157, 116) !important;
	background: rgba(29, 157, 116, .7) !important;
	border: 2px solid #1D9D74 !important;
	color: white !important;
}

ul.openhours li span {
	float: left;
	width: 40px;
}

ul.closertogether {
	margin-left: 2px;
}

ul.closertogether li {
	padding: 0 !important;
}

.dropdown-menu {
	z-index: 1041 !important;
}

.orders .orderblock {
	text-align: justify;
	margin-bottom: 7px !important;
	width: 100%;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
}

.orders .orderblock:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
	font-size: 0;
	line-height: 0;
}

.orders .orderblock h5 {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	*text-align: left;
}

.orders .orderblock div.orderbuttons {
	padding: 4px;
	display: inline-block;
	vertical-align: baseline;
	/* ie 7*/

	*display: inline;
	*zoom: 1;
	*text-align: right;
}

.orders .alert {
	height: 55px;
}

.modal-backdrop {
	background-color: #fff !important;
}

.modal-backdrop.in {
	opacity: 0.75;
}

.alert-default {
	background-color: #fefefe;
	border-color: #e8e8e8;
	color: #757575;
}

.alert-default hr {
	border-top-color: #e1e1e1;
}

.alert-default .alert-link {
	color: #505050;
}

.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.bs-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code {
	border-radius: 3px;
}

.bs-callout+.bs-callout {
	margin-top: -5px;
}

.bs-callout-default {
	border-left-color: #777;
}

.bs-callout-default h4 {
	color: #777;
}

.bs-callout-primary {
	border-left-color: #428bca;
}

.bs-callout-primary h4 {
	color: #428bca;
}

.bs-callout-success {
	border-left-color: #5cb85c;
}

.bs-callout-success h4 {
	color: #5cb85c;
}

.bs-callout-danger {
	border-left-color: #d9534f;
}

.bs-callout-danger h4 {
	color: #d9534f;
}

.bs-callout-warning {
	border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
	color: #f0ad4e;
}

.bs-callout-info {
	border-left-color: #5bc0de;
}

.bs-callout-info h4 {
	color: #5bc0de;
}

.carousel-fade .carousel-inner .item {
	opacity: 0;
	transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
	opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}

.carousel-fade .carousel-control {
	z-index: 2;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
	.carousel-fade .carousel-inner > .item.next,
	.carousel-fade .carousel-inner > .item.active.right {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.carousel-fade .carousel-inner > .item.prev,
	.carousel-fade .carousel-inner > .item.active.left {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.carousel-fade .carousel-inner > .item.next.left,
	.carousel-fade .carousel-inner > .item.prev.right,
	.carousel-fade .carousel-inner > .item.active {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

#login-dp {
	min-width: 250px;
	padding: 14px 14px 0;
	overflow: hidden;
	background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
	font-size: 12px
}

#login-dp .bottom {
	background-color: rgba(255, 255, 255, .8);
	border-top: 1px solid #ddd;
	clear: both;
	padding: 14px;
}

#login-dp .social-buttons {
	margin: 12px 0
}

#login-dp .social-buttons a {
	width: 49%;
}

#login-dp .form-group {
	margin-bottom: 10px;
}

.btn-fb {
	color: #fff;
	background-color: #3b5998;
}

.btn-fb:hover {
	color: #fff;
	background-color: #496ebc
}

.btn-tw {
	color: #fff;
	background-color: #55acee;
}

.btn-tw:hover {
	color: #fff;
	background-color: #59b5fa;
}

@media(max-width:768px) {
	#login-dp {
		background-color: inherit;
		color: #fff;
	}
	#login-dp .bottom {
		background-color: inherit;
		border-top: 0 none;
	}
}
